html, body {
	word-wrap: break-word;
	background-color: #060606;
}

button, input {
	background-color: var(--background);
}

button:hover {
	background-color: var(--button-hover);
}

.urlbox {
	width: 80%;
	max-width: 700px;
}

body {
	margin-top: 10%;
	margin-bottom: 10%;
	position: relative;
}

.urlbox {
	width: 80%;
	max-width: 700px;
}

.contentbox {
	height: 85vh;
	position: relative;
}

.contentbox div {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.replit {
    position: absolute;
	top: -15px;
    right: -7px;
    padding: 10px;
	background-color: #060606;
}

.replit img {
	width: 50px;
}

.footer-special {
	width: 100%;
	height: 8%;
	min-height: 90px;
	position: absolute;
	bottom: 0px; 
	left: 0px; 
}

:root {
	--background-body: #000000;
	--background: rgba(255, 255, 255, .1);
	--background-alt: rgba(255, 255, 255, .05);
	--selection: #1c76c5;
	--text-main: #dbdbdb;
	--text-bright: #fff;
	--text-muted: #a9b1ba;
	--links: #41adff;
	--focus: #0096bfab;
	--border: #526980;
	--code: #ffbe85;
	--animation-duration: 0.1s;
	--button-hover: rgba(255, 255, 255, .2);
	--scrollbar-thumb: var(--button-hover);
	--scrollbar-thumb-hover: rgba(255, 255, 255, .3);
	--form-placeholder: #a9a9a9;
	--form-text: #fff;
	--variable: #d941e2;
	--highlight: #efdb43;
	--select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}